# Node dependencies
node_app/node_modules/
node_app/.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# Logs
*.log

# Instance configuration directory contents
instance/*
!instance/.gitkeep
